<div class="footer-graphic-area">
  <img
    class="footer-graphic-area-child"
    alt=""
    src="assets/images/services/Group-20873272081.svg"
  />

  <img
    class="footer-graphic-area-item"
    loading="lazy"
    alt=""
    src="assets/images/services/Group-2087327209.svg"
  />
</div>
<h1 class="envizon">envizon</h1>
<div class="footer-info-block-parent">
  <div class="footer-info-block">
    <div class="footer-brand">
      <img
        class="mask-group-icon"
        alt=""
        src="assets/images/services/Mask-group@2x.png"
      />

      <div class="container-parent">
        <div class="container2">
          <div class="designing-digital-experiences">
            Designing digital experiences that<br />accelerate
            business growth. Hyderabad, India.
          </div>
        </div>
        <div class="social-icons-block">
          <div class="social-icon-wrapper">
            <img
              class="facebook-icon"
              loading="lazy"
              alt=""
              src="assets/images/services/Facebook.svg"
            />
          </div>
          <div class="twitter-link-wrapper">
            <div class="twitter-icon-container">
              <div class="twitter">
                <img
                  class="vector-icon"
                  alt=""
                  src="assets/images/services/Vector.svg"
                />
              </div>
            </div>
          </div>
          <div class="twitter-link-wrapper">
            <div class="twitter-icon-container">
              <img
                class="instagram-icon"
                loading="lazy"
                alt=""
                src="assets/images/services/Instagram.svg"
              />
            </div>
          </div>
          <div class="twitter-link-wrapper">
            <div class="linkedin-logo-wrapper">
              <img
                class="linkedin-logo-icon"
                alt=""
                src="assets/images/services/LinkedIn-logo.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-navigation-grid">
      <div class="container3">
        <div class="container2">
          <b class="contact">Contact</b>
        </div>
        <div class="container5">
          <div class="container2">
            <div class="helloenvizonstudiocom">
              hello@envizonstudio.com
            </div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">LinkedIn</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Twitter / X</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Dribbble</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Book a call</div>
          </div>
        </div>
      </div>
      <div class="container6">
        <div class="container2">
          <b class="contact">Company</b>
        </div>
        <div class="container5">
          <div class="container2">
            <div class="helloenvizonstudiocom">About</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Work</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Process</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Insights</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Careers</div>
          </div>
        </div>
      </div>
      <div class="container9">
        <div class="container2">
          <b class="contact">Services</b>
        </div>
        <div class="container5">
          <div class="container2">
            <div class="helloenvizonstudiocom">UI/UX Design</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Web Design</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Development</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Branding</div>
          </div>
          <div class="container2">
            <div class="helloenvizonstudiocom">Product Design</div>
          </div>
          <div class="container2">
            <div class="cro-optimization">CRO Optimization</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="horizontalborder">
    <div class="link2">
      <div class="envizon-studio-all">
        &copy; 2025 Envizon Studio. All rights reserved.
      </div>
    </div>
    <div class="container13">
      <div class="link23">
        <div class="privacy">Privacy</div>
      </div>
      <div class="link23">
        <div class="envizon-studio-all">Terms</div>
      </div>
      <div class="link23">
        <div class="privacy">Sitemap</div>
      </div>
    </div>
  </div>
</div>
